/* 1024px 이상 PC */

/* body */
body {
    position: relative;
    width: 1920px;
    height: 100%;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

/* header start */
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 4px solid #ae2223;
    width: 1920px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.header_container{
    position: absolute;
    display: flex;
    width: 1820px;
    height: 80px;
    margin-top: 24px;
    justify-content: center;
    flex-flow: row nowrap;
}
.sam_top_menu_wrap{
    width: 678px;
    height: 80px;
}
.sam_top_menu{
    display: flex;
    width: 140px;
    height: 14px;
    margin: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.sam_top_menu>li>a{
    font-size: 0.75rem;
    font-weight: 500;
    color: #ae2223;
}
.sam_top_menu>li>a:hover{
    text-decoration: underline;
}
.sam_top_menu>li:first-child::after{
    content: "|";
    color: #444;
    margin-left: 8px;
    opacity: 50%;
    font-size: 0.75rem;
}
.sam_top_menu>li:last-child::before{
    content: "|";
    color: #444;
    margin-right: 8px;
    opacity: 50%;
    font-size: 0.75rem;
}
.sam_main_menu_wrap{
    display: flex;
    width: 465px;
    height: 80px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.sam_logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sam_logo>h1{
    width: 98px;
    height: 38px;
    background: url(../images/sam_logo.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_logo>h1>a{
    display: block;
    height: 100%;
}
.sam_logo_menu_wrap{
    width: 464px;
    height: 20px;
}
.sam_logo_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.nav{
    position: relative;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.001em;
    bottom: 5px;
}
.sam_user_menu_wrap{
    display: flex;
    width: 678px;
    height: 80px;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.sam_user_menu{
    display: flex;
    width: 202px;
    height: 15px;
    justify-content: space-between;
}
.sam_user_menu li>a{
    display: inline-block;
    height: 15px;
    font-size: 0.75rem;
    font-weight: 400;
    color: #666;
}
.sam_user_menu li>a:hover{
    color: #ae2223;
    text-decoration: underline;
}
.sam_user_menu>li:nth-child(1)::after{
    content: "|";
    color: #444;
    margin-left: 10px;
    opacity: 50%;
    font-size: 0.75rem;
}
.sam_user_menu>li:nth-child(2)::after{
    content: "|";
    color: #444;
    margin-left: 10px;
    opacity: 50%;
    font-size: 0.75rem;
}
.sam_user_menu>li:nth-child(3)::after{
    content: "|";
    color: #444;
    margin-left: 10px;
    opacity: 50%;
    font-size: 0.75rem;
}
.search_btn{
    width: 15px;
    height: 15px;
    background: url(../images/search.jpg) no-repeat;
    text-indent: -9999px;
    margin-top: 8px;
}
/* sub 전체 */
#sub1 {
    display: none;
}
#sub2 {
    display: none;
}
#sub3 {
    display: none;
}
#sub4 {
    display: none;
}
.sam_sub_box{
    position: absolute;
    display: none;
    top: 88px;
    left: 0px;
    width: 100%;
    height: 46px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid rgba(110, 110, 110, 0.5);
    background: #fff;
    z-index: 1;
}
/* 개별 sub */

/* 우리맛 연구 */
.nav_list:nth-child(1):hover{
    border-bottom: 2px solid #a8a4a1;
    padding-bottom: 6px;
}
.nav_list>:nth-child(1){
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.sub_research{
    position: absolute;
    display: flex;
    width: 340px;
    height: 46px;
    top: 89px;
    left: 545px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.sub_research a{
    display: inline-block;
    float: left;
    font-size: 0.8rem;
    font-weight: 500;
    color: #9b9b9b;
}
/* 우리맛 체험 */
.nav_list:nth-child(2):hover{
    border-bottom: 2px solid #a8a4a1;
    padding-bottom: 6px;
}
.nav_list>:nth-child(2){
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.sub_ex{
    position: absolute;
    display: flex;
    width: 890px;
    height: 46px;
    top: 89px;
    left: 460px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.sub_ex a{
    display: inline-block;
    float: left;
    font-size: 0.8rem;
    font-weight: 500;
    color: #9b9b9b;
}
/* 샘표 소개 */
.nav_list:nth-child(3):hover{
    border-bottom: 2px solid #a8a4a1;
    padding-bottom: 6px;
}
.nav_list>:nth-child(3){
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.sub_comp_intro{
    position: absolute;
    display: flex;
    width: 335px;
    height: 46px;
    top: 89px;
    left: 775px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.sub_comp_intro a{
    display: inline-block;
    float: left;
    font-size: 0.8rem;
    font-weight: 500;
    color: #9b9b9b;
}
/* 제품 소개 */
.nav_list:nth-child(4):hover{
    border-bottom: 2px solid #a8a4a1;
    padding-bottom: 6px;
}
.nav_list>:nth-child(4){
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.sub_prod_intro{
    position: absolute;
    display: flex;
    width: 915px;
    height: 46px;
    top: 89px;
    left: 450px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.sub_prod_intro a{
    display: inline-block;
    float: left;
    font-size: 0.8rem;
    font-weight: 500;
    color: #9b9b9b;
}

/* header end */
/* main start */

.main_wrap{
    width: 1820px;
    margin: 0 auto 50px;
}
.sam_caresel_img_wrap{
    width: 1820px;
    height: 680px;
}
.sam_caresel_img{
    width: 1820px;
    height: 680px;
    background: url(../images/sam_caresel.jpg) no-repeat;
    text-indent: -9999px;
    z-index: 0;
}
.sam_caresel_img_arrow {
    z-index: 1;
}
.sam_caresel_img_prev {
    position: absolute;
    width: 24px;
    height: 45px;
    top: 445px;
    left: 110px;
    background: url(../images/arrow_next.png) no-repeat;
    text-indent: -9999px;
}
.sam_caresel_img_next {
    position: absolute;
    width: 24px;
    height: 45px;
    top: 445px;
    right: 110px;
    background: url(../images/arrow_prev.png) no-repeat;
    text-indent: -9999px;
}
.sam_middle_menu_wrap {
    width: 1820px;
    height: 273px;
}
.sam_middle_menu{
    display: flex;
    flex-flow: row wrap;
}
.sam_middle_menu a{
    display: block;
    height: 100%;
}
.sam_middle_menu>li:nth-child(1){
    width: 607px;
    height: 273px;
    background: url(../images/sam_mainmenu1.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_middle_menu>li:nth-child(2){
    width: 606px;
    height: 273px;
    background:  url(../images/sam_mainmenu2.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_middle_menu>li:nth-child(3){
    width: 607px;
    height: 273px;
    background:  url(../images/sam_mainmenu3.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_notice_event_wrap{
    width: 1820px;
    height: 78px;
    overflow: hidden;
}
.sam_notice_event{
    display: flex;
    flex-flow: row wrap;
}
.sam_notice_wrap{
    display: flex;
    width: 910px;
    height: 78px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    flex-flow: row nowrap;
}
.sam_notice_wrap>p:first-child{
    display: flex;
    align-items: center;
    margin-left: 182px;
    margin-right: 50px;
}
.sam_notice_wrap>p:last-child{
    display: flex;
    width: 9px;
    height: 15px;
    align-items: center;
    margin: 33px 0 0 273px;
    background: url(../images/notice_arrow.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_notice_wrap>p>a{
    font-size: 1rem;
    font-weight: 400;
    color: #aea288;
}
.sam_notice{
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.sam_notice li{
    position: relative;
    width: 200px;
    top: 48px;
    font-size: 1rem;
    line-height: 3rem;
}
.sam_event_wrap{
    display: flex;
    width: 910px;
    height: 78px;
    flex-flow: row nowrap;
}
.sam_event_wrap>p:first-child{
    display: flex;
    font-size: 1rem;
    font-family: 400;
    color: #aea288;
    align-items: center;
    margin-left: 182px;
    margin-right: 50px;
}
.sam_event_wrap>p>a{
    font-size: 1rem;
    font-weight: 400;
    color: #aea288;
}
.sam_event_wrap>p:last-child{
    display: flex;
    width: 9px;
    height: 15px;
    align-items: center;
    margin: 33px 0 0 273px;
    background: url(../images/notice_arrow.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_event_wrap li{
    position: relative;
    width: 280px;
    top: 16px;
    font-size: 1rem;
    line-height: 3rem;
}
.sam_brand_recipe_wrap {
    width: 1820px;
    height: 647px;
    border-top: 2px solid #676566;
    box-sizing: border-box;
    margin: 0;
}
.sam_brand_recipe {
    display: flex;
    flex-flow: row wrap;
}
.sam_brand_recipe a{
    display: block;
    height: 100%;
}
.sam_brand_recipe>li:nth-child(1){
    width: 607px;
    height: 647px;
    background: url(../images/sam_brand1.jpg);
    text-indent: -9999px;
}
.sam_brand_recipe>li:nth-child(2){
    width: 606px;
    height: 647px;
    background: url(../images/sam_brand2.jpg);
    text-indent: -9999px;
}
.sam_brand_recipe>li:nth-child(3){
    width: 607px;
    height: 647px;
    background: url(../images/sam_brand3.jpg);
    text-indent: -9999px;
}
/* main end */

/* footer start */

.footer_wrap{
    width: 100%;
    margin: auto;
    font-size: 0.75rem;
}
.footer_wrap h3{
    font-size: 0.75rem;
    font-weight: 500;
}
.sam_link_wrap{
    display: flex;
    width: 100%;
    height: 60px;
    background: #7b746e;
    justify-content: center;
    align-items: center;
}
.sam_link{
    display: flex;
    width: 800px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.sam_link>li:nth-child(1)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(2)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(3)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(4)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(5)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(6)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(7)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(8)::after {
    content: " | ";
    margin-left: 15px;
    color: #eee;
    font-size: 0.75rem;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link a {
    color: #eee;
}
.footer_bottom_wrap{
    display: flex;
    width: 1820px;
    height: 145px;
    margin: auto;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    align-items: center;
}
.sam_for_customer{
    display: flex;
    width: 400px;
    height: 83px;    
}
.sam_for_customer>h3{
    margin-right: 45px;
}
.sam_for_customer li{
    margin-bottom: 0.5rem;
}
.sam_for_customer>ul>li>span>a{
    color: #999;
    text-decoration: underline;
}
.sam_for_customer>ul>li>span>a::after{
    content: " 〉";
    font-size: 0.3125rem;
    margin-left: 3px;
}
.sam_company_inicis_wrap{
    display: flex;
    width: 1020px;
    height: 145px;
    justify-content: center;
    align-items: center;
}
.sam_company_inicis{
    display: flex;
   width: 1020px;
   height: 83px;
   border-left: 1px solid #ebebeb;
   border-right: 1px solid #ebebeb;
   padding-left: 60px;
   box-sizing: border-box;
   flex-flow: column wrap;
   align-content:space-between;
}
.sam_our_company{
    display: flex;
    margin-bottom: 25px;
}
.sam_our_company>h3{
    margin-right: 85px;
}
.sam_our_company>span>a{
    margin-left: 5px;
    color: #999;
    text-decoration: underline;
}
.sam_our_company>span>a::after{
    content: " 〉";
    font-size: 0.3125rem;
    margin-left: 3px;
}
.sam_inicis_service{
    display: flex;
}
.sam_inicis_service>h3{
    margin-right: 28px;
}
.sam_inicis_service>span>a{
    margin-left: 5px;
    color: #999;
    text-decoration: underline;
}
.sam_inicis_service>span>a::after{
    content: " 〉";
    font-size: 0.3125rem;
    margin-left: 3px;
}
.sam_relation_lang_sns{
    display: flex;
    width: 400px;
    height: 145px;
    justify-content: first baseline;
    flex-flow: column;
}
.sam_relation_lang_wrap{
    display: flex;
    width: 340px;
    height: 33px;
    margin-top: 30px;
    margin-left: 60px;
    justify-content: space-between;
    flex-flow: row;
}
.sam_relation_site{
    width: 167px;
    height: 33px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    overflow: hidden;
}
.sam_relation_site>li{
    position: relative;
    width: 167px;
    padding-left: 7px;
    font-size: 0.75rem;
    line-height: 2.5em;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    top: -65px;
}
.sam_relation_site>li a{
    display: block;
    width: 100%;
}
.sam_lang{
    width: 167px;
    height: 33px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    overflow: hidden;
}
.sam_lang>li{
    position: relative;
    width: 167px;
    padding-left: 7px;
    font-size: 0.75rem;
    line-height: 2.5em;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    top: -97px;
}
.sam_lang>li a{
    display: block;
    width: 100%;
}
.sam_official_sns{
    width: 147px;
    height: 16px;
    margin-top: 17px;
    margin-left: 244px;
}
.sam_official_sns_list{
    display: flex;
    justify-content: space-between;
}
.sam_official_sns_list a{
    display: block;
    height: 100%;
}
.sam_official_sns_list>li:nth-child(1){
    width: 17px;
    height: 16px;
    background: url(../images/sam_facebook.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_official_sns_list>li:nth-child(2){
    width: 17px;
    height: 16px;
    background: url(../images/sam_twitter.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_official_sns_list>li:nth-child(3){
    width: 17px;
    height: 16px;
    background: url(../images/sam_youtube.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_official_sns_list>li:nth-child(4){
    width: 17px;
    height: 16px;
    background: url(../images/sam_cafe.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_official_sns_list>li:nth-child(5){
    width: 17px;
    height: 16px;
    background: url(../images/sam_blog.jpg) no-repeat;
    text-indent: -9999px;
}
.footer_bottom_last{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #000;
}
.footer_bottom_last>p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.top{
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 15px;
    right: 15px;
    background: url(../images/top.jpg) no-repeat;
    text-indent: -9999px;
}
/* footer end */
