
/* body */
body {
    position: relative;
    width: 1920px;
    height: 100%;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

/* header start */
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    border-top: 4px solid #ae2223;
    width: 1920px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.header_container{
    position: absolute;
    display: flex;
    width: 1820px;
    height: 80px;
    margin-top: 24px;
    justify-content: center;
    flex-flow: row nowrap;
}
.sam_sub_menu_wrap{
    width: 678px;
    height: 80px;
}
.sam_sub_menu{
    display: flex;
    width: 140px;
    height: 14px;
    margin: 0;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.sam_sub_menu>li>a{
    font-size: 12px;
    font-weight: 400;
    color: #ae2223;
}
.sam_sub_menu>li:first-child::after{
    content: "|";
    color: #ae2223;
    margin-left: 10px;
    opacity: 50%;
    font-size: 12px;
}
.sam_sub_menu>li:last-child::before{
    content: "|";
    color: #ae2223;
    margin-right: 10px;
    opacity: 50%;
    font-size: 12px;
}
.sam_main_menu_wrap{
    display: flex;
    width: 465px;
    height: 80px;
    flex-flow: column wrap;
}
.sam_logo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sam_logo>h1{
    width: 98px;
    height: 38px;
    background: url(../images/sam_logo.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_logo>h1>a{
    display: block;
    height: 100%;
}
.sam_logo_menu_wrap{
    width: 464px;
}
.sam_logo_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}
.sam_user_menu_wrap{
    display: flex;
    width: 678px;
    height: 80px;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.sam_user_menu{
    display: flex;
    width: 202px;
    height: 15px;
    justify-content: space-between;
}
.sam_user_menu li>a{
    display: inline-block;
    height: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}
.sam_user_menu>li:nth-child(2)::after{
    content: "|";
    color: #444;
    margin-left: 5px;
    opacity: 50%;
    font-size: 12px;
}
.sam_user_menu>li:nth-child(3)::after{
    content: "|";
    color: #444;
    margin-left: 10px;
    opacity: 50%;
    font-size: 12px;
}
.sam_user_menu>li:nth-child(4)::after{
    content: "|";
    color: #444;
    margin-left: 10px;
    opacity: 50%;
    font-size: 12px;
}
.search_btn{
    width: 15px;
    height: 15px;
    background: url(../images/search.jpg) no-repeat;
    text-indent: -9999px;
    margin-top: 3px;
}
/* header end */
/* main start */

.main_wrap{
    width: 1820px;
    margin: 0 auto 50px;
}
.sam_caresel_img_wrap{
    width: 1820px;
    height: 680px;
}
.sam_caresel_img{
    width: 1820px;
    height: 680px;
    background: url(../images/sam_caresel.jpg) no-repeat;
    text-indent: -9999px;
    z-index: 0;
}
.sam_caresel_img_arrow {
    z-index: 1;
}
.sam_caresel_img_prev {
    position: absolute;
    top: 450px;
    left: 120px;
}
.sam_caresel_img_next {
    position: absolute;
    top: 450px;
    right: 120px;
}
.sam_middle_menu_wrap {
    width: 1820px;
    height: 273px;
}
.sam_middle_menu{
    display: flex;
    flex-flow: row wrap;
}
.sam_middle_menu a{
    display: block;
    height: 100%;
}
.sam_middle_menu>li:nth-child(1){
    width: 607px;
    height: 273px;
    background: url(../images/sam_mainmenu1.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_middle_menu>li:nth-child(2){
    width: 606px;
    height: 273px;
    background:  url(../images/sam_mainmenu2.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_middle_menu>li:nth-child(3){
    width: 607px;
    height: 273px;
    background:  url(../images/sam_mainmenu3.jpg) no-repeat;
    text-indent: -9999px;
}
.sam_notice_event_wrap{
    width: 1820px;
    height: 78px;
}
.sam_notice_event{
    display: flex;
    flex-flow: row wrap;
}
.sam_notice_wrap{
    display: flex;
    width: 910px;
    height: 78px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    flex-flow: row nowrap;
}
.sam_notice_wrap>p:first-child{
    display: flex;
    align-items: center;
    margin-left: 182px;
    margin-right: 50px;
}
.sam_notice_wrap>p:last-child{
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 50px;
}
.sam_notice_wrap>p>a{
    font-size: 16px;
    font-weight: 400;
    color: beige;
}
.sam_notice{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sam_event_wrap{
    display: flex;
    width: 910px;
    height: 78px;
    flex-flow: row nowrap;
}
.sam_event_wrap>p:first-child{
    display: flex;
    font-size: 16px;
    font-family: 400;
    color: beige;
    align-items: center;
    margin-left: 182px;
    margin-right: 50px;
}
.sam_event_wrap>p>a{
    font-size: 16px;
    font-weight: 400;
    color: beige;
}
.sam_event_wrap>p:last-child{
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 50px;
}

.sam_brand_recipe_wrap {
    width: 1820px;
    height: 647px;
    border-top: 2px solid #444;
    box-sizing: border-box;
    margin: 0;
}
.sam_brand_recipe {
    display: flex;
    flex-flow: row wrap;
}
.sam_brand_recipe a{
    display: block;
    height: 100%;
}
.sam_brand_recipe>li:nth-child(1){
    width: 607px;
    height: 647px;
    background: url(../images/sam_brand1.jpg);
    text-indent: -9999px;
}
.sam_brand_recipe>li:nth-child(2){
    width: 606px;
    height: 647px;
    background: url(../images/sam_brand2.jpg);
    text-indent: -9999px;
}
.sam_brand_recipe>li:nth-child(3){
    width: 607px;
    height: 647px;
    background: url(../images/sam_brand3.jpg);
    text-indent: -9999px;
}
/* main end */

/* footer start */

.footer_wrap{
    width: 1820px;
    margin: auto;
    background: violet;
}
.sam_link_wrap{
    display: flex;
    width: 1820px;
    height: 80px;
    background: #444;
    justify-content: center;
}
.sam_link{
    display: flex;
    width: 800px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.sam_link>li:nth-child(1)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(2)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(3)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(4)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(5)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(6)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(7)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link>li:nth-child(8)::after {
    content: " | ";
    margin-left: 5px;
    color: #eee;
    font-size: 12px;
    font-weight: lighter;
    opacity: 30%;
}
.sam_link a {
    color: #eee;
}
.footer_bottom_wrap{
    display: flex;
    width: 1820px;
    height: 200px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.sam_for_customer{
    width: 400px;
    background: green;
    border-right: 1px solid #eee;
}
/* footer end */
